<div class="pageTitle">
  <h1>Mileage Chart for <%=@carname%></h1>
</div>


<script  type="text/javascript" src="/public/jqtouch/jquery.1.3.2.min.js"></script>
<script  type="text/javascript" src="/public/jqtouch/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/public/jqtouch/jquery.jqplot.css" />

<div class="chart">
  <div id="chartdiv" style="height:<%=$screen_height * 0.8%>px;width:<%= $screen_width * 0.8 %>px;"></div>
</div>

<script language="javascript" type="text/javascript"> 
  $(document).ready(function(){ 
    var values = <%=@values%>;
    plot = $.jqplot('chartdiv',  [values],{
        axes:{
          xaxis:{
              show:false,
              ticks: <%=@xticks%>,
              tickOptions:{show:false}
          },
          yaxis:{
              show:true,
              min:0,
              ticks: <%=@yticks%>,
              tickOptions: {
                showMark: false,
                markSize: 10,
                formatString: '%d'
              }
          }
        },
        grid: {
          borderWidth: 2.0,
          borderColor: '#7E3F12',
          background: '##DEDEDE',
          drawGridLines: true,
          gridLineColor: '#cccccc'
        }
      }
    ); 
    plot.redraw(); 
  }); 

</script>
<!--
    grid: {
        drawGridLines: true,        // wether to draw lines across the grid or not.
        gridLineColor: '#cccccc'    // *Color of the grid lines.
        background: '#fffdf6',      // CSS color spec for background color of grid.
        borderColor: '#999999',     // CSS color spec for border around grid.
        borderWidth: 2.0,           // pixel width of border around grid.
        shadow: true,               // draw a shadow for grid.
        shadowAngle: 45,            // angle of the shadow.  Clockwise from x axis.
        shadowOffset: 1.5,          // offset from the line of the shadow.
        shadowWidth: 3,             // width of the stroke for the shadow.
        shadowDepth: 3,             // Number of strokes to make when drawing shadow.
                                    // Each stroke offset by shadowOffset from the last.
        shadowAlpha: 0.07           // Opacity of the shadow
        renderer: $.jqplot.CanvasGridRenderer,  // renderer to use to draw the grid.
        rendererOptions: {}         // options to pass to the renderer.  Note, the default
                                    // CanvasGridRenderer takes no additional options.
    },
-->