<div class="pageTitle">
  <h1>New Fillup Entry</h1>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @fuel.object %>"/>
    <input type="hidden" name="fuel[car_id]" value="<%= $car_id %>"/>
    <ul>
      
          <li>
            <label for="fuel[distance]" class="fieldLabel">Trip Distance</label>
            <input type="text" name="fuel[distance]" <%=
            placeholder("Distance") %> />
          </li>
      
          <li>
            <label for="fuel[unit_price]" class="fieldLabel">Unit price</label>
            <input type="text" name="fuel[unit_price]" <%=
            placeholder("Unit price") %> />
          </li>
      
          <li>
            <label for="fuel[volume]" class="fieldLabel">Volume</label>
            <input type="text" name="fuel[volume]" <%=
            placeholder("Volume") %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>
<!--
<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>
-->