<div class="pageTitle">
  <h1><%= @fuel.distance %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :index %>">Back</a>
  </div>
  <div class="rightItem regularButton">
    <a href="<%= url_for :action => :edit, :id => @fuel.object %>">Edit</a>
  </div>
</div>

<div class="content">
  <ul>
    
        <li>
          <div class="itemLabel">Distance</div>
          <div class="itemValue"><%= @fuel.distance %></div>
        </li>
    
        <li>
          <div class="itemLabel">UnitPrice</div>
          <div class="itemValue"><%= @fuel.unit_price %></div>
        </li>
    
        <li>
          <div class="itemLabel">Volume</div>
          <div class="itemValue"><%= @fuel.volume %></div>
        </li>
    
    
  </ul>
</div>