<div class="pageTitle">
  <h1>Add a car</h1>
</div>


<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @car.object %>"/>
    <ul>
      
          <li>
            <label for="car[name]" class="fieldLabel">Name</label>
            <input type="text" name="car[name]" <%=placeholder("Name") %> />
          </li>
      
          <li>
            <label  class="customFieldLabel">Optional Info</label>
          </li>
      
       
          <li>
            <label for="car[make]" class="fieldLabel">Make</label>
            <input type="text" name="car[make]" <%=placeholder("Make") %> />
          </li>
      
       
          <li>
            <label for="car[model]" class="fieldLabel">Model</label>
            <input type="text" name="car[model]" <%=placeholder("Model") %> />
          </li>
      
      
          <li>
            <label for="car[year]" class="fieldLabel">Year</label>
            <input type="text" name="car[year]" <%=placeholder("Year") %> />
          </li>
      
        
    </ul>
    <input type="submit" class="standardButton" value="Create Car"/>
  </form>
</div>

<div class="custom">
  <span class="help">
    Give this car a name that helps you identify it. You can change it later in the settings.
  </span>
</div>